.new-collection{
    background-color: #dbdbdb;
}
.new-collection-container{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1.5fr;
}

button.new-collection-btn {
    background-color: rgb(115 101 78);
    color: rgb(255 255 255);
    font-weight: bold;
    border: none;
    padding: 3% 8%;
    transition: 0.3s;
}
button.new-collection-btn:hover{
    background-color: rgb(115 101 78 / 78%);
}